# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build directories and files
dist/
build/

# Temporary files
*.tmp
*.temp

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Package-lock files
package-lock.json
yarn.lock
