.todo-container h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    border: solid 1px #777;
    border-radius: 5px;
    padding: 5px;
}

.items-container {
    text-align: left;
}

.sv-row{
    margin: 10px 5px;
}

.sv-button{

    min-width: 80px;
}

main{
    height: 100vh;
    width: 1550vvw;
    background-color: #777;
    display: flex;
    align-items:center;
    justify-content: center;
}

main .todo-container{

    padding: 30px 20px;

    background-color: aliceblue;

    border-radius: 10px;
}