* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}

html, body {
  height: 100%;
  width: 100%;
}

h1{
    font-size: 70px;
}

h2{
  font-size: 80px;
  font-weight: 800;
}

#box{
  height: 300px;
  width: 300px;
  background-color: salmon;
}