*{
    font-family: cursive;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #000;
}

.main{
    text-align: left;
    min-height: 30vw;
    
}

input{
    height: 30px;
    width: 300px;
    border-radius: 2%;
    font-size: 20px;
}
button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: green;
    color: white;
}

.box{
    background-color: beige;
    border: 2px solid black;
    border-radius: 20%;
    padding: 15px;
    text-align: center;
}
li{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.deleteBtn {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: red;
    color: white;
}