* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    
}

html, body {
  height: 100%;
  width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Changed from center to space-between */
    color: #ffffff; /* Sunset Orange from Palette 1 */
    background-color: #008080; /* Ivory White from Palette 1 */
    
}

footer {
    margin-top: auto/* Pushes the footer to the bottom */
}

a{
    color: #ffffff;
}