<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3> <%= ["Hello","SaiVamsi"][1] %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat fugit cumque placeat! Ipsam velit optio explicabo neque, accusamus illo enim placeat sint magni deleniti eveniet in, perferendis harum fugit. Porro itaque eveniet optio aperiam corporis ratione numquam odio amet officiis eius aliquid incidunt, et nemo sit vel facilis sequi provident.</p>
    <button>click me</button>
    
</body>
</html>