<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="heading">
        This is Home Page of my Portfolio Website
    </div>

        <%- include("includes/footer.ejs") %>;
</body>
</html>