body {
  font-family: "Roboto", sans-serif;
  background-color: #9b2c2c;
  color: #333;
  padding: 20px;
}

h1 {
  color: ivory;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: ivory;
  text-align: center;
  margin-bottom: 20px;
}

.cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  background-color: #fffff0;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 20px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  color: #2d3436;
}

.post p {
  color: #555;
  font-size: 3rem;
}

.post a {
  text-decoration: none;
}

.post a button {
  float: right;
  background-color: #9b2c2c;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  display: inline-block;
}

.post a button:hover {
  background-color: #7a2323;
}

.post:hover {
  box-shadow: 0 6px 12px rgba(255, 253, 253, 0.5);
}
